// button purple
button {
   height: auto;
   line-height: 40px;
   background: @purple;
   border-bottom: 3px solid @purple-border;
   text-align: center;
   padding: 0 7px;
   .radius(3px);

   a {
      color: @white;
      text-decoration: none;
   }

   &:hover {
      background: @purple-border;
      border-bottom: 3px solid @purple;
      cursor: pointer;
      .transitions;
   }
}

// button yellow
.yellow {
  background: @yellow;
  border-bottom: 3px solid @yellow-strong;
  font-size: 13px;
  color: @white;

   &:hover {
      background: @yellow-strong;
      border-bottom: 2px solid @yellow;
      cursor: pointer;
      .transitions;
   }
}

// button red
.red {
  background: @red;
  border-bottom: 3px solid @red-strong;
  font-size: 13px;
  color: @white;

   &:hover {
      background: @red-strong;
      border-bottom: 2px solid @red;
      cursor: pointer;
      .transitions;
   }
}

// button blue
.blue {
  background: @blue;
  border-bottom: 3px solid @blue-strong;
  font-size: 13px;
  color: @white;

   &:hover {
      background: @blue-strong;
      border-bottom: 2px solid @blue;
      cursor: pointer;
      .transitions;
   }
}


