.foto {
  width: 130px;
  height: 188px;
  background: @white;
  display: inline-table;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 7px solid @white;
  .box-shadow;

  img {
    width: 207px;
    height: 188px;
  }
}
