footer {
   clear: both;
   width: 100%;
   background: @black;

   .center {
      width: 940px;
      margin: 0 auto;
      padding: 10px 0;
      height: 120px;
   }
}

/* mapa do site - rodapé */
.site-map {
   display: none;
}

.phone {
   display: none;
}

/* descrições e direitos autorais */
.copy {
   clear: both;
   width: 940px;
   color: @white;
   position: relative;
   top: 28px;
   border-bottom: 1px solid #C8C8C8;
   padding-bottom: 8px;
   font-size: 1.5em;

   a {
      clear: both;
      position: relative;
      top: 30px;
      color: @white;
      font-size: 1.2em;
   }
}

.developer-agency {
   position: relative;
   top: 35px;
   color: #ffffff;
   font-size: 1.5em;
   text-decoration: none;
   float: left;
}
