address {
   background: black;
   height: auto;
   line-height: 30px;

   p {
      width: 940px;
      margin: 0 auto;
      text-align: left;
      font-size: 1.2em;
      color: @white;
   }
}
.fone {
   color: @yellow;
   padding-right: 1em;
}
.endereco {
   color: @yellow;
   padding: 0 1em;
}

.login {
   float: right;
   color: @yellow;
   text-decoration: underline;
}

header {
   width: 100%;
   height: auto;
   background: @color-bg;

   img {
      float: left;
   }
}

.topo {
   width: 940px;
   margin: 0 auto;
   padding: 50px 0;
}

.logo-bispo {
   position: relative;
   left: 140px;
}

/* menu */
nav {
   width: 100%;
   height: 50px;
   background: @yellow;
   clear: both;
   position: relative;
   top: 50px;

   .menu {
      width: 940px;
      margin: 0 auto;

      li {
         display: inline;
         position: relative;

         a {
            text-decoration: none;
            font-size: 18px;
            color: @black;
            padding-right: 43px;
            line-height: 50px;

            &:hover {
               text-decoration: underline;
            }
         }
      }
   }
}

// .igrejas:before {
//    content: '';
//    border-style: solid solid solid;
//    border-color: transparent;
//    border-top-color: #000;
//    display: -moz-inline-box;
//    border-width: 6px 4px 0;
//    padding-top: 1px;
//    position: relative;
//    top: 15px;
//    left: 65px;
// }

// .galeria:before {
//    content: '';
//    border-style: solid solid solid;
//    border-color: transparent;
//    border-top-color: #000;
//    display: -moz-inline-box;
//    border-width: 6px 4px 0;
//    padding-top: 1px;
//    position: relative;
//    top: 15px;
//    left: 75px;
// }

// .atendimento:before {
//    content: '';
//    border-style: solid solid solid;
//    border-color: transparent;
//    border-top-color: #000;
//    display: -moz-inline-box;
//    border-width: 6px 4px 0;
//    padding-top: 1px;
//    position: relative;
//    top: 15px;
//    left: 120px;
// }