section {
   .box-width;
}

.home-slide {
   clear: both;
   overflow: hidden;
   width: 100%;
   height: 400px;
   background: #1F1F1F;
   background-image:-moz-ial-gradient(50% 50%,circle farthest-side,rgb(79,79,79) 0%,rgb(31,31,31) 100%);
   background-image:-webkit-gradient(radial,50% 50%,0,50% 50%,850,color-stop(0, rgb(79,79,79)),color-stop(1, rgb(31,31,31)));
   background-image:-webkit-radial-gradient(50% 50%,circle farthest-side, rgb(79,79,79) 0%,rgb(31,31,31) 100%);
   background-image:-ms-radial-gradient(50% 50%,circle farthest-side, rgb(79,79,79) 0%,rgb(31,31,31) 100%);
   background-image:radial-gradient(50% 50%,circle farthest-side, rgb(79,79,79) 0%,rgb(31,31,31) 100%);
}

.slide {
   width: 940px;
   height: 400px;
   margin: 0 auto;
   list-style: none;
}
.slide img {
   width: 940px;
   height: 400px;
}
.slide ul {
   list-style: none;
}
.slide-pager {
   max-width: 1170px;
   margin: 0 auto;
   position: relative;
   padding: 0 20px;
}

/* 1024 x 768 ----------- */
@media only screen and (max-width:1024px) {
   .slide-pager {
      max-width: 1170px;
      margin: 0 auto;
      position: relative;
      padding: 0 60px;
   }
}

@media only screen and (max-width:1000px) {
   .slide-pager {
      max-width: 1170px;
      margin: 0 auto;
      position: relative;
      padding: 0 20px;
   }
}
.prev {
   background: url(../_images/icons/arrow-left.png);
   width: 85px;
   height: 86px;
   z-index: 10;
   position: relative;
   float: left;
   top: 156px;
   text-indent: -9999px;
}
.next {
   background: url(../_images/icons/arrow-right.png);
   width: 85px;
   height: 86px;
   z-index: 10;
   position: relative;
   float: right;
   top: 156px;
   text-indent: -9999px;
}

.title {
   font-size: 22px;
   color: @black;
   padding-top: 50px;
   padding-bottom: 35px;
}

figure {

   li {
      width: 300px;
      height: 200px;
      background: @black;
      margin-right: 20px;
      margin-bottom: 20px;
      float: left;

      img {
         width: 300px;
         height: 200px;
         .box-shadow;
      }
   }
}

.carousel, .fotos, .videos {
   position: relative;
   display: inline-block;
}

// comunicados
.publicidade {
   clear: both;
}

.banner {
   height: 150px;
   background: @black;
   overflow: hidden;
   margin-bottom: 50px;
   clear: both;

   img {
      clear: both;
      margin-top: -10px;
      width: 940px;
      height: 160px;
      .box-shadow;
   }
}

.eventos-da-semana {
   width: 640px;
   height: 372px;
   float: left;
}

.datas {
   width: 300px;
   height: 160px;
   float: left;
   margin-right: 20px;
   margin-bottom: 32px;

   p {
      font-size: 14px;
      line-height: 170%;
      width: 300px;
   }
}
.date {
   font-size: 18px;
   margin-top: 8px;
}

.title-eventos {
   font-size: 22px;
   border-bottom: 1px solid #DDDDDD;
   padding-bottom: 5px;
   margin-bottom: 28px;
}

.fb {
   position: relative;
   float: left;
}
.fb-title {
   font-size: 22px;
   color: @black;
   margin-bottom: 15px;
}

.igrejas {
   clear: both;
   height: 460px;
   margin-bottom: 20px;

   ul {
      width: 960px;
      display: inline;
      float: left;
      position: absolute;

      li {
         position: relative;
         width: 172px;
         height: 105px;
         float: left;
         margin-right: 20px;
         margin-bottom: 20px;
         .box-shadow;

         img {
            width: 172px;
            height: 105px;
         }
      }
   }
}

.fb-like-box {
   width: 300px;
   height: 335px;
   background: @white;
}

.videos iframe {
   width: 300px;
   height: 200px;
   .box-shadow;
}

.foto-bispo {
   background: @gray;
   width: 220px;
   height: 360px;
   margin: 20px 0;
   float: left;
   position: relative;
   overflow: hidden;
}

figcaption {
  background: rgba(252,206,32,0.7);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  padding: 10px;
  // termina a transição, descendo a div
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  -moz-transition: opacity .3s,-moz-transform .3s;
  -ms-transition: opacity .3s,-ms-transform .3s;
  -o-transition: opacity .3s,-o-transform .3s;
  transition: opacity .3s,transform .3s;
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);

  &:hover {
    // inicia a transição, subindo a div
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    cursor: pointer;
  }

   h1 {
      font-size: 18px;
      color: @purple-border;
      text-transform: uppercase;
      font-weight: bold;
   }

   p {
      font-size: 15px;
      color: @black;
      margin: 10px 0;
   }
}

.video-ou-texto {
   width: 700px;
   height: 360px;
   float: right;
   margin: 20px 0;
   position: relative;
   overflow: hidden;

   h1 {
      font-size: 22px;
      color: @black;
      border-bottom: 1px solid #DDD;
      padding-bottom: 5px;
      margin-bottom: 10px;

   }
      p {
         font-size: 1.6em;
         line-height: 123%;
         color: @black;
   }
}

.fotos-ou-slide {
   background: @gray;
   width: 940px;
   height: 400px;
   overflow: hidden;
   clear: both;
}

.noticias-text {
   width: 300px;
   height: 310px;
   margin-top: 20px;
   margin-right: 20px;
   margin-bottom: 50px;
   float: left;
   overflow: hidden;
   position: relative;

   h1 {
      font-size: 22px;
      color: @black;
      border-bottom: 1px solid #DDD;
      padding-bottom: 5px;
      margin-bottom: 10px;

   }
      p {
         font-size: 1.6em;
         line-height: 123%;
         color: @black;
   }
}

.video-text {
   width: 300px;
   height: 310px;
   margin-top: 20px;
   margin-right: 20px;
   margin-bottom: 50px;
   float: left;
   overflow: hidden;
   position: relative;

   h1 {
      font-size: 22px;
      color: @black;
      border-bottom: 1px solid #DDD;
      padding-bottom: 5px;
      margin-bottom: 10px;

   }
      p {
         font-size: 1.6em;
         line-height: 123%;
         color: @black;
   }
}

.question {
   width: 300px;
   height: 146px;
   margin: 20px 0;
   float: right;
   position: relative;

   span {
      font-size: 18px;
      text-align: justify;
   }

   button {
      position: absolute;
      right: 0;
      bottom: 0;
   }
}

.acess {
   background: #F6F6F6;
   width: 300px;
   height: 144px;
   float: right;
   position: relative;
   padding: 10px;
   border-bottom: 2px solid @red;

   h1 {
      font-size: 22px;
      text-align: center;
      margin-bottom: 5px;
   }

   p {
      font-size: 9em;
      text-align: center;
   }
}
