.home-slide {
   width: 100%;
   height: 400px;
   margin-top: 50px;
   background-image:-moz-radial-gradient(50% 50%,circle farthest-side,rgb(79,79,79) 0%,rgb(31,31,31) 100%);
   background-image:-webkit-gradient(radial,50% 50%,0,50% 50%,850,color-stop(0, rgb(79,79,79)),color-stop(1, rgb(31,31,31)));
   background-image:-webkit-radial-gradient(50% 50%,circle farthest-side, rgb(79,79,79) 0%,rgb(31,31,31) 100%);
   background-image:-ms-radial-gradient(50% 50%,circle farthest-side, rgb(79,79,79) 0%,rgb(31,31,31) 100%);
   background-image:radial-gradient(50% 50%,circle farthest-side, rgb(79,79,79) 0%,rgb(31,31,31) 100%);
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Style=2)";
   filter:progid:DXImageTransform.Microsoft.Alpha(Style=2);
}

.slide {
   width: 940px;
   height: 400px;
   margin: 0 auto;
   list-style: none;
   overflow: hidden;

   img {
      width: 940px;
      height: 400px
   }

   ul {
    list-style: none;
   }
}

.pager-menu {
   width: 260px;
   height: 8px;
   margin: 0 auto;
   position: relative;
   z-index: 5;
   top: -20px;
}
.pager a {
   margin-left: 5px;
   text-decoration: none;
   float: left;
   color: @white;
   background: @white;
   display: block;
   width: 60px;
   height: 8px;
   overflow: hidden;
}
.pager a:hover{
   background: @gray;
   color: @gray;
   overflow: hidden;
}

.pager-right-left {
      max-width: 1130px;
      margin: 0 auto;
   }

.prev {
   background: url(../_images/icons/arrow-left.png);
   width: 85px;
   height: 86px;
   z-index: 10;
   position: relative;
   float: left;
   top: 156px;
   text-indent: -9999px;
}

.next {
   background: url(../_images/icons/arrow-right.png);
   width: 85px;
   height: 86px;
   z-index: 10;
   position: relative;
   float: right;
   top: 156px;
   text-indent: -9999px;
}

.content {
   width: 940px;
   margin: 0 auto;
}

.title {
   font-size: 22px;
   color: @black;
   padding-top: 50px;
   padding-bottom: 35px;
}

.carousel {

   li {
      display: inline-table;
      width: 300px;
      height: 200px;
      background: @black;
      margin-right: 19px;
      margin-bottom: 20px;

      img {
         width: 300px;
         height: 200px;
      }
   }
}

#bug {
   position: absolute;
}

.fotos {

      li {
      display: inline-table;
      width: 300px;
      height: 200px;
      background: @black;
      margin-right: 19px;
      margin-bottom: 20px;

      img {
         width: 300px;
         height: 200px;
      }
   }
}

.banner {
   height: 150px;
   background: @black;
   overflow: hidden;
   margin-bottom: 50px;

   img {
      clear: both;
      margin-top: -10px;
      width: 940px;
      height: 160px;
   }
}

.eventos-da-semana {
   width: 640px;
   height: 372px;
   float: left;
}

.datas {
   width: 300px;
   height: 160px;
   float: left;
   margin-right: 20px;
   margin-bottom: 32px;

   p {
      font-size: 15px;
      line-height: 170%;
      width: 300px;
   }
}
.date {
   font-size: 18px;
}

.title-eventos {
   font-size: 22px;
   border-bottom: 1px solid #DDDDDD;
   padding-bottom: 5px;
   margin-bottom: 28px;
}

.fb {
   position: relative;
   float: left;
}
.fb-title {
   font-size: 22px;
   color: @black;
   margin-bottom: 15px;
}

.publicidade {
   height: 240px;
   clear: both;

   img {
   }
}

.igrejas {
   clear: both;
   height: 460px;
   margin-bottom: 20px;

   ul {
      width: 960px;
      display: inline;
      float: left;
      position: absolute;

      li {
         position: relative;
         width: 172px;
         height: 105px;
         float: left;
         margin-right: 20px;
         margin-bottom: 20px;

         img {
            width: 172px;
            height: 105px;
         }
      }
   }
}