@import url("http://fonts.googleapis.com/css?family=Lato:400, 300");
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
button,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
select,
input,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 - Older Browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* Responsive video */
video,
embed,
object,
iframe {
  width: 100%;
  height: 100%;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
option,
textarea {
  font-family: "Lato";
  color: #333;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 62.5%;
  font-family: "Lato";
}
/* Selected Text */
::-moz-selection {
  background: #fcce20;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #fcce20;
  color: #ffffff;
  text-shadow: none;
}
.chromeframe {
  background: red;
  text-align: center;
  color: #fff;
  padding: 1em 0;
  margin: 5px 0;
  font-size: 1.5em;
}
/* Floats */
.left {
  float: left;
  margin-left: 0;
}
.right {
  float: right;
  margin-right: 0;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #333333;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.bar-header {
  width: 100%;
  background: black;
  height: auto;
  line-height: 30px;
  position: relative;
}
.bar-header p {
  width: 940px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.2em;
  position: relative;
}
.fone {
  color: #fcce20;
  padding-right: 1em;
}
.endereco {
  color: #fcce20;
  padding: 0 1em;
}
.login {
  float: right;
  color: #fcce20;
  text-decoration: underline;
  position: relative;
}
#box-login {
  width: 200px;
  height: 190px;
  background: #333333;
  position: relative;
  float: right;
  z-index: 1;
  font-size: 12px;
  color: #e8e8e8;
  overflow: hidden;
  display: none;
  -webkit-box-shadow: 1px 1px 5px #333333;
  -moz-box-shadow: 1px 1px 5px #333333;
  box-shadow: 1px 1px 5px #333333;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
#box-login ul {
  width: 180px;
  margin: 0 auto;
}
#box-login input[type=text],
input[type=password] {
  width: 100%;
  height: 30px !important;
  border: 1px solid transparent;
  -webkit-border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  -o-border-radius: 1.5px;
  border-radius: 1.5px;
}
#box-login input[type=text]:focus,
input[type=password]:focus {
  border: 1px solid #fcce20;
  -webkit-transition: all 450ms ease 5ms;
  -moz-transition: all 450ms ease 5ms;
  transition: all 450ms ease 5ms;
}
.remember {
  position: relative;
  top: 2px;
}
.remember-me {
  position: relative;
  top: -1px;
  left: 5px;
}
.btn-login {
  width: 50px !important;
  height: 35px;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  position: relative;
  top: -3px;
  background: #fcce20;
  border-bottom: 3px solid #dcb001;
  text-align: center;
  color: #333333;
}
.btn-login:hover {
  background: #dcb001;
  border-bottom: 3px solid #fcce20;
  -webkit-transition: all 450ms ease 5ms;
  -moz-transition: all 450ms ease 5ms;
  transition: all 450ms ease 5ms;
  cursor: pointer;
}
header {
  position: relative;
  background: #fafaf7;
}
header .container {
  padding-top: 50px;
  height: 217px;
  position: relative;
}
.logo img {
  float: left;
  margin-left: 0;
  width: 337px;
  height: 116px;
}
.logo-bispo {
  position: absolute;
  left: 740px;
}
.logo-bispo img {
  width: 173px;
  height: 116px;
}
nav {
  display: none;
}
section {
  width: 940px;
  margin: 0 auto;
}
.home-slide {
  clear: both;
  overflow: hidden;
  width: 100%;
  height: 400px;
  background: #1F1F1F;
  background-image: -moz-ial-gradient(50% 50%, circle farthest-side, #4f4f4f 0%, #1f1f1f 100%);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 850, color-stop(0, #4f4f4f), color-stop(1, #1f1f1f));
  background-image: -webkit-radial-gradient(50% 50%, circle farthest-side, #4f4f4f 0%, #1f1f1f 100%);
  background-image: -ms-radial-gradient(50% 50%, circle farthest-side, #4f4f4f 0%, #1f1f1f 100%);
  background-image: radial-gradient(50% 50%, circle farthest-side, #4f4f4f 0%, #1f1f1f 100%);
}
.slide {
  width: 940px;
  height: 400px;
  margin: 0 auto;
  list-style: none;
}
.slide img {
  width: 940px;
  height: 400px;
}
.slide ul {
  list-style: none;
}
.slide-pager {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}
/* 1024 x 768 ----------- */
@media only screen and (max-width: 1024px) {
  .slide-pager {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1000px) {
  .slide-pager {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
  }
}
.prev {
  background: url(../_images/icons/arrow-left.png);
  width: 85px;
  height: 86px;
  z-index: 10;
  position: relative;
  float: left;
  top: 156px;
  text-indent: -9999px;
}
.next {
  background: url(../_images/icons/arrow-right.png);
  width: 85px;
  height: 86px;
  z-index: 10;
  position: relative;
  float: right;
  top: 156px;
  text-indent: -9999px;
}
.title {
  font-size: 22px;
  color: #333333;
  padding-top: 50px;
  padding-bottom: 35px;
}
figure li {
  width: 300px;
  height: 200px;
  background: #333333;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
figure li img {
  width: 300px;
  height: 200px;
  -webkit-box-shadow: 1px 1px 5px #333333;
  -moz-box-shadow: 1px 1px 5px #333333;
  box-shadow: 1px 1px 5px #333333;
}
.carousel,
.fotos,
.videos {
  position: relative;
  display: inline-block;
}
.publicidade {
  clear: both;
}
.banner {
  height: 150px;
  background: #333333;
  overflow: hidden;
  margin-bottom: 50px;
  clear: both;
}
.banner img {
  clear: both;
  margin-top: -10px;
  width: 940px;
  height: 160px;
  -webkit-box-shadow: 1px 1px 5px #333333;
  -moz-box-shadow: 1px 1px 5px #333333;
  box-shadow: 1px 1px 5px #333333;
}
.eventos-da-semana {
  width: 640px;
  height: 372px;
  float: left;
}
.datas {
  width: 300px;
  height: 160px;
  float: left;
  margin-right: 20px;
  margin-bottom: 32px;
}
.datas p {
  font-size: 14px;
  line-height: 170%;
  width: 300px;
}
.date {
  font-size: 18px;
  margin-top: 8px;
}
.title-eventos {
  font-size: 22px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 5px;
  margin-bottom: 28px;
}
.fb {
  position: relative;
  float: left;
}
.fb-title {
  font-size: 22px;
  color: #333333;
  margin-bottom: 15px;
}
.igrejas {
  clear: both;
  height: 460px;
  margin-bottom: 20px;
}
.igrejas ul {
  width: 960px;
  display: inline;
  float: left;
  position: absolute;
}
.igrejas ul li {
  position: relative;
  width: 172px;
  height: 105px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 5px #333333;
  -moz-box-shadow: 1px 1px 5px #333333;
  box-shadow: 1px 1px 5px #333333;
}
.igrejas ul li img {
  width: 172px;
  height: 105px;
}
.fb-like-box {
  width: 300px;
  height: 335px;
  background: #ffffff;
}
.videos iframe {
  width: 300px;
  height: 200px;
  -webkit-box-shadow: 1px 1px 5px #333333;
  -moz-box-shadow: 1px 1px 5px #333333;
  box-shadow: 1px 1px 5px #333333;
}
.foto-bispo {
  background: #e8e8e8;
  width: 220px;
  height: 360px;
  margin: 20px 0;
  float: left;
  position: relative;
}
figcaption {
  background: rgba(252, 206, 32, 0.7);
  width: 220px;
  height: 160px;
  position: absolute;
  z-index: 10;
  bottom: 0;
  padding: 10px;
}
figcaption h1 {
  font-size: 18px;
  color: #693c7d;
  text-transform: uppercase;
  font-weight: bold;
}
figcaption p {
  font-size: 15px;
  color: #333333;
  margin: 10px 0;
}
.video-ou-texto {
  width: 700px;
  height: 360px;
  float: right;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
}
.video-ou-texto h1 {
  font-size: 22px;
  color: #333333;
  border-bottom: 1px solid #DDD;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.video-ou-texto p {
  font-size: 1.6em;
  line-height: 123%;
  color: #333333;
}
.fotos-ou-slide {
  background: #e8e8e8;
  width: 940px;
  height: 400px;
  overflow: hidden;
  clear: both;
}
.noticias-text {
  width: 300px;
  height: 310px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  float: left;
  overflow: hidden;
  position: relative;
}
.noticias-text h1 {
  font-size: 22px;
  color: #333333;
  border-bottom: 1px solid #DDD;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.noticias-text p {
  font-size: 1.6em;
  line-height: 123%;
  color: #333333;
}
.video-text {
  width: 300px;
  height: 310px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  float: left;
  overflow: hidden;
  position: relative;
}
.video-text h1 {
  font-size: 22px;
  color: #333333;
  border-bottom: 1px solid #DDD;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.video-text p {
  font-size: 1.6em;
  line-height: 123%;
  color: #333333;
}
.question {
  width: 300px;
  height: 146px;
  margin: 20px 0;
  float: right;
  position: relative;
}
.question span {
  font-size: 18px;
  text-align: justify;
}
.question button {
  position: absolute;
  right: 0;
  bottom: 0;
}
.acess {
  background: #F6F6F6;
  width: 300px;
  height: 144px;
  float: right;
  position: relative;
  padding: 10px;
  border-bottom: 2px solid #ef1746;
}
.acess h1 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 5px;
}
.acess p {
  font-size: 9em;
  text-align: center;
}
article {
  margin-bottom: 50px;
}
article h1 {
  font-size: 22px;
  color: #333333;
  border-bottom: 1px solid #333333;
  padding-bottom: 5px;
  margin: 10px 0;
}
article h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
article p {
  font-size: 14px;
  padding-bottom: 15px;
}
.video {
  width: 500px;
  height: 340px;
  background: #333333;
  margin-right: 10px;
  float: left;
}
.video iframe {
  width: 500px;
  height: 340px;
}
button {
  height: auto;
  line-height: 40px;
  background: #874ca0;
  border-bottom: 3px solid #693c7d;
  text-align: center;
  padding: 0 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
button a {
  color: #ffffff;
  text-decoration: none;
}
button:hover {
  background: #693c7d;
  border-bottom: 3px solid #874ca0;
  cursor: pointer;
  -webkit-transition: all 450ms ease 5ms;
  -moz-transition: all 450ms ease 5ms;
  transition: all 450ms ease 5ms;
}
.yellow {
  background: #fcce20;
  border-bottom: 3px solid #dcb001;
  font-size: 13px;
  color: #ffffff;
}
.yellow:hover {
  background: #dcb001;
  border-bottom: 3px solid #fcce20;
  cursor: pointer;
  -webkit-transition: all 450ms ease 5ms;
  -moz-transition: all 450ms ease 5ms;
  transition: all 450ms ease 5ms;
}
.red {
  background: #ef1746;
  border-bottom: 3px solid #b10c31;
  font-size: 13px;
  color: #ffffff;
}
.red:hover {
  background: #b10c31;
  border-bottom: 3px solid #ef1746;
  cursor: pointer;
  -webkit-transition: all 450ms ease 5ms;
  -moz-transition: all 450ms ease 5ms;
  transition: all 450ms ease 5ms;
}
.blue {
  background: #29c5f5;
  border-bottom: 3px solid #0b9dc8;
  font-size: 13px;
  color: #ffffff;
}
.blue:hover {
  background: #0b9dc8;
  border-bottom: 3px solid #29c5f5;
  cursor: pointer;
  -webkit-transition: all 450ms ease 5ms;
  -moz-transition: all 450ms ease 5ms;
  transition: all 450ms ease 5ms;
}
.location form {
  font-size: 1.2em;
}
.location select {
  height: 3.8em;
  line-height: 3.8em;
  border: 0.1em solid #E8E8E8;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  color: #C8C8C8;
}
.location {
  width: 300px;
  display: block;
  float: left;
  margin-left: 54px;
  margin-top: 5px;
}
.location select {
  width: 300px;
  margin-bottom: 15px;
}
#igreja {
  width: 240px;
  float: left;
}
.locat-btn {
  width: 4.5em;
  height: 3.8em;
  background: #874ca0;
  border-bottom: 3px solid #693c7d;
  color: #ffffff;
  margin-left: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.locat-btn:hover {
  background: #693c7d;
  border-bottom: 3px solid #874ca0;
  cursor: pointer;
  -webkit-transition: all 450ms ease 5ms;
  -moz-transition: all 450ms ease 5ms;
  transition: all 450ms ease 5ms;
}
footer {
  clear: both;
  width: 100%;
  background: #333333;
}
footer .center {
  width: 940px;
  margin: 0 auto;
  padding: 10px 0;
  height: 120px;
}
/* mapa do site - rodapé */
.site-map {
  display: none;
}
.phone {
  display: none;
}
/* descrições e direitos autorais */
.copy {
  clear: both;
  width: 940px;
  color: #ffffff;
  position: relative;
  top: 28px;
  border-bottom: 1px solid #C8C8C8;
  padding-bottom: 8px;
  font-size: 1.5em;
}
.copy a {
  clear: both;
  position: relative;
  top: 30px;
  color: #ffffff;
  font-size: 1.2em;
}
.developer-agency {
  position: relative;
  top: 35px;
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
  float: left;
}
