/*  */
/*Hover efeitos transition*/
:hover {
  -webkit-transition: all 200ms ease 10ms;
  -moz-transition: all 200ms ease 10ms;
  transition: all 200ms ease 10ms;
}
/* forms for site */
input,
select,
text-area {
  padding: 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 10px;
}
select {
  background: #E8E8E8;
  color: #333333;
}
.restricted {
  float: right;
}
.right {
  float: right;
}
.left {
  float: left;
}
